*{
    font-family: 'Red Hat Display', sans-serif;
}


html{
    background: #F6BD56;
}

img.hero{
    width: 326px;
    height: 326px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}


.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@keyframes slide__in {
    from{
        opacity: 0;
        margin-top: 12px
    } 
    to{
        opacity: 1;
        margin-top: 0px;
    }   
}

.content{
    animation-name: slide__in;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
}

.heading{
    color: #A6281B;
    font-size: 64px;
}

.contact{
    font-size: 24px;
    color: #040404;
    transition: 300ms;
}

.contact:hover{
    color: #A6281B;
    transition: 300ms;
}


.flexbox{
    justify-content: center;
    margin: auto;
    display: flex;
    padding: 0px;
}

.fab {
    background: #252525;
    font-size: 24px;
    width: 80px;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
    border-radius: 100%;
}

.twitch {
    margin: 0 24px;
}

.twitter {
    margin: 0 24px;
}

.discord {
    margin: 0 24px;
}

.twitch:focus-visible{
    background: #9146ff;
    transition: 300ms;
}

.discord:focus-visible{
    background: #5567E3;
    transition: 300ms;
}

.twitter:focus-visible{
    background: #1da1f2;
    transition: 300ms;
}


.twitch :hover{
    background: #9146ff;
    transition: 300ms;
}

.discord :hover{
    background: #5567E3;
    transition: 300ms;
}

.twitter :hover{
    background: #1da1f2;
    transition: 300ms;
}


.footer{
    margin-bottom: 48px;
    text-align: center;
}

.social__heading{
    font-size: 14px;
    padding-bottom: 16px;
}

a:focus{
    color: #A6281B;
    transition: 300ms;
}

img.hero{
    padding-bottom: 80px;
}

@media (max-width: 400px) {
    img.hero{
        width: 300px;
        height: 300px;
        padding-bottom: 0px;
    }
    .heading{
        font-size: 32px;
    }
    .wrapper{
        min-height: 85vh;
    }
    .footer{
        margin-bottom: 24px;
    }
    .social__heading{
        font-size: 18px;
    }
}